<div class="container my-3">
    <div class="row justify-content-center">
        <h1>Liste des Messages</h1>
    </div>
</div>

<div class="container">
    {{#each dbcontact}}
    <div class="row">
        <!-- GET -->
        <div class="col-md-12 col-sm-12">
            <ul class="list-group ">
                <li class="list-item border border-color5 rounded m-2 p-3">
                    <div class="row">
                        <div class="col-md-3 col-sm-3  column">
                            <h3>Notification</h3>
                        </div>
                        <div class="col-md-7 pt-4 col-sm-7">
                            <p>sujet: {{this.sujet}}</p>
                            <p> email: {{this.email}} </p>
                            <p>Vous avez un nouveau message: {{truncate this.message 20}} </p>

                            <!-- BOUTTON SUPPRIMER -->
                            <button class="btn btn-color2" data-toggle="modal" type="subit"
                                data-target="#modalConfirmSuppContact{{ _id }}">Le mail a été traité</button>
                        </div>
                    </div>
                </li>
                {{!-- modal confirmation suppression --}}
                <div class="modal fade" id="modalConfirmSuppContact{{ _id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Confirmez-vous la suppression ?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="/listContact/{{ _id }}/?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-color2">Oui</button>
                                </form>
                                <button type="button" class="btn btn-color4">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    {{/each}}
</div>