<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-3 " style="max-width: 700px;">
            <div class="row no-gutters">
                <div class="col-8 col-md-8">
                    <div class="card-body">
                        <h1><span class="badge badge-color1 shadow mx-2 text-white">{{ moment startDate format="DD" }}</span>
                            <span class="badge badge-color1 shadow mx-2 text-white">{{ moment endDate format="DD" }}</span>
                            <span class="font-weight-bold ">{{ moment startDate "MMMM" }}</span></h1>
                        
                        <h4 class="card-title">{{ this.name }}</h4>
                        <p class="card-text">{{ this.city }}</p>
                        <p>{{ this.departement }}</p>
                        <p>horaire</p>
                        <p>Tarif</p>
                        <p class="card-text"><small class="text-muted"><button type="button" class="btn btn-outline-color1">Contacter l'organisateur</button></small></p>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="/assets/ressources/images/A2 EXPO Lego.jpg" class="card-img" alt="Affiche expo">
                </div>
            </div>
        </div>
        
    </div>
</div>



{{!-- <div class="container ">
    <div class="row">
        <div class="col-md-8 border ">
            <div class="container border" style="height: 500px;">
                <div class="row border ligne">
                    <div class="col-md-4">
                        <h1><span class="badge badge-color1 shadow mx-3 text-white">31</span>
                            <span class="badge badge-color1 shadow mx-3 text-white">31</span></h1>
                    </div>
                    <div class="col-md-8 d-flex align-items-center ">
                        <h4 class="font-weight-bold ">Mars 2020</h4>
                    </div>

                </div>
                <div class="row border ligne">
                    <div class="col-md-12">
                        <p>Nom de l'expo</p>
                        <p>lieu</p>
                        <p>département</p>
                        <p>horaire</p>
                        <p>Tarif</p>
                    </div>
                </div>
                <div class="row border ligne">
                    <div class="col-md-12">
                        <br><br><br><br><br><br><br><br>
                        <p>btn contacts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 border p-0">
            <img src="https://picsum.photos/400/500" alt="">
        </div>
    </div>
</div> --}}