<div class="item row justify-content-center ">
    <div class="card mb-3 " style="max-width: 700px;">
        <div class="row no-gutters">
            <div class="col-8 col-md-8">
                <div class="card-body">
                    <h1>
                        <span
                            class="badge badge-color1 shadow mx-2 text-white">{{ moment startDate format="DD" }}</span>
                        <span class="badge badge-color1 shadow mx-2 text-white">{{ moment endDate format="DD" }}</span>
                        <span
                            class="font-weight-bold text-capitalize">{{ moment startDate locale="fr" format="MMMM" }}</span>
                    </h1>
                    <h4 class="card-title mx-2 text-capitalize">{{{ this.name }}}</h4>
                    <p class="card-text mx-2">{{{ this.adress }}}</p>
                    <p class="card-text mx-2">{{ this.postCode }} {{{ this.city }}}</p>
                    <p class="card-text mx-2">Horaire : {{{ this.horaire }}}</p>
                    <p class="card-text mx-2">Tarif : {{{ this.price }}}</p>
                    <div class="row">
                        {{!-- bouton visible uniquement pour les utilisateurs connecter --}}
                        {{#if @root.name}}
                        <div class="col-md-6">
                            <a href="/contactorga/{{this.id}}" class="btn btn-outline-color1">Contacter
                                l'organisateur</a>
                        </div>
                        {{/if}}
                        {{!-- bouton visible si auteur de l'expo ou si administrateur --}}
                        {{#ifCond author @root.name}}
                        <div class="col-md-6">
                            <button class="btn btn-outline-color2" data-toggle="modal" data-target="#modalEditer{{_id}}"
                                type="submit">Modifier l'expo</button>
                        </div>
                        {{else}}
                        {{#if @root.isAdmin}}
                        <div class="col-md-6">
                            <button class="btn btn-outline-color2" data-toggle="modal" data-target="#modalEditer{{_id}}"
                                type="submit">Modifier l'expo</button>
                        </div>
                        {{/if}}
                        {{/ifCond}}

                    </div>
                </div>
            </div>
            <div class="col-4 col-md-4">
                <img src="{{this.lowaffiche}}" class="card-img" alt="Affiche expo">
            </div>
        </div>
    </div>
</div>




{{!-- *******************************modal edition********************************* --}}

{{#ifCond author @root.name}}
<div class="container mt-3">
    <div class="row text-center">
        <div class="modal fade" id="modalEditer{{ _id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="createExpo/{{ _id }}/?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="name" value="{{{this.name}}}">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="adress" value="{{{this.adress}}}">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <input type="text" class="form-control" name="city" value="{{{this.city}}}">
                                        </div>
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <select name="departement" class="custom-select">
                                                <option value="{{this.departement._id}}" hidden>
                                                    ({{this.departement.code}}) - {{this.departement.name}}</option>
                                                {{#each @root.dbdepartement}}
                                                <option value="{{id}}">({{code}}) - {{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3">
                                            <input type="text" class="form-control" name="postCode"
                                                value="{{this.postCode}}">
                                        </div>
                                        <div class="col-md-6 col-sm-6 ">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"
                                                        for="inputGroupCountry{{id}}">Pays</label>
                                                </div>
                                                <select class="custom-select" name="country"
                                                    id="inputGroupCountry{{id}}">
                                                    <option selected hidden>{{this.country}}</option>
                                                    <option value="France">France</option>
                                                    <option value="Belgique">Belgique</option>
                                                    <option value="Espagne">Espagne</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="start{{id}}">Date de début</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input id="start{{id}}" type="date" name="startDate"
                                                        max="2100-12-31" min="2020-01-01" class="form-control"
                                                        value="{{moment this.startDate format="YYYY-MM-DD"}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 ">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="end{{id}}">Date de fin</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input id="end{{id}}" type="date" name="endDate" max="2100-12-31"
                                                        min="2020-01-01" class="form-control"
                                                        value="{{moment this.endDate format="YYYY-MM-DD"}}">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Affiche</span>
                                        </div>
                                        <div class="custom-file">
                                            <input name="affiche" type="file" accept="image/*" class="custom-file-input"
                                                id="inputGroupFile{{_id}}">
                                            <label class="custom-file-label" for="inputGroupFile{{_id}}">Choisir un
                                                fichier</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <input type="text" class="form-control" name="horaire"
                                                value="{{this.horaire}}">
                                        </div>
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <input type="text" class="form-control" name="price" value="{{{this.price}}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input name="contact" type="email" class="form-control"
                                            value="{{this.contact}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="custom-control custom-switch">
                                        <input name="search" type="checkbox" class="custom-control-input"
                                            id="customSwitch{{_id}}">
                                        <label class="custom-control-label" for="customSwitch{{_id}}">Nous sommes en
                                            recherche
                                            d'exposants</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-color4">Confirmer la modification</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
{{#if @root.isAdmin}}
<div class="container mt-3">
    <div class="row text-center">
        <div class="modal fade" id="modalEditer{{ _id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="createExpo/{{ _id }}/?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="name" value="{{{this.name}}}">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="adress" value="{{{this.adress}}}">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <input type="text" class="form-control" name="city" value="{{{this.city}}}">
                                        </div>
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <select name="departement" class="custom-select">
                                                <option value="{{this.departement._id}}" hidden>
                                                    ({{this.departement.code}}) - {{this.departement.name}}</option>
                                                {{#each @root.dbdepartement}}
                                                <option value="{{id}}">({{code}}) - {{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3">
                                            <input type="text" class="form-control" name="postCode"
                                                value="{{this.postCode}}">
                                        </div>
                                        <div class="col-md-6 col-sm-6 ">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"
                                                        for="inputGroupCountry2{{id}}">Pays</label>
                                                </div>
                                                <select class="custom-select" name="country"
                                                    id="inputGroupCountry2{{id}}">
                                                    <option selected hidden>{{this.country}}</option>
                                                    <option value="France">France</option>
                                                    <option value="Belgique">Belgique</option>
                                                    <option value="Espagne">Espagne</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="start2{{id}}">Date de début</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input id="start2{{id}}" type="date" name="startDate"
                                                        max="2100-12-31" min="2020-01-01" class="form-control"
                                                        value="{{moment this.startDate format="YYYY-MM-DD"}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 ">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="end2{{id}}">Date de fin</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input id="end2{{id}}" type="date" name="endDate" max="2100-12-31"
                                                        min="2020-01-01" class="form-control"
                                                        value="{{moment this.endDate format="YYYY-MM-DD"}}">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Affiche</span>
                                        </div>
                                        <div class="custom-file">
                                            <input name="affiche" type="file" accept="image/*" class="custom-file-input"
                                                id="inputGroupFile{{_id}}">
                                            <label class="custom-file-label" for="inputGroupFile{{_id}}">Choisir un
                                                fichier</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <input type="text" class="form-control" name="horaire"
                                                value="{{this.horaire}}">
                                        </div>
                                        <div class="col-md-6 col-sm-6 mb-3 ">
                                            <input type="text" class="form-control" name="price" value="{{{this.price}}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input name="contact" type="email" class="form-control"
                                            value="{{this.contact}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-md-6">
                                    <div class="custom-control custom-switch">
                                        <input name="search" type="checkbox" class="custom-control-input"
                                            id="customSwitch{{_id}}">
                                        <label class="custom-control-label" for="customSwitch{{_id}}">Nous sommes en
                                            recherche
                                            d'exposants</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-color4">Confirmer la modification</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/ifCond}}