
    <div class="row justify-content-center " id="{{ this.departement }}">
        <div class="card mb-3 " style="max-width: 700px;">
            <div class="row no-gutters">
                <div class="col-8 col-md-8">
                    <div class="card-body">
                        <h1><span class="badge badge-color1 shadow mx-2 text-white">{{ moment startDate format="DD" }}</span>
                            <span class="badge badge-color1 shadow mx-2 text-white">{{ moment endDate format="DD" }}</span>
                            <span class="font-weight-bold ">{{ moment startDate locale="fr" format="MMMM" }}</span></h1>
                        
                        <h4 class="card-title mx-2">{{ this.name }}</h4>
                        <p class="card-text mx-2">{{ this.adress }}</p>
                        <p class="card-text mx-2">{{ this.departement }}</p>
                        <p class="card-text mx-2">{{ this.postCode }} {{ this.city }}</p>
                        <p class="card-text mx-2">Horaire : {{ this.horaire }}</p>
                        <p class="card-text mx-2">Tarif : {{ this.price }}</p>
                        <p class="card-text mx-2"><small class="text-muted"><button type="button" class="btn btn-outline-color1">Contacter l'organisateur</button></small></p>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="{{this.affiche}}" class="card-img" alt="Affiche expo">
                </div>
            </div>
        </div>
        
    </div>

