<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-3 " style="max-width: 700px;">
            <div class="row no-gutters">
                <div class="col-8 col-md-8">
                    <div class="card-body">
                        <h1><span class="badge badge-color1 shadow mx-2 text-white">{{ moment startDate format="DD" }}</span>
                            <span class="badge badge-color1 shadow mx-2 text-white">{{ moment endDate format="DD" }}</span>
                            <span class="font-weight-bold ">{{ moment startDate lang="fr" format="MMMM" }}</span></h1>
                        
                        <h4 class="card-title">{{ this.name }}</h4>
                        <p class="card-text">{{ this.city }}</p>
                        <p>{{ this.departement }}</p>
                        <p>horaire</p>
                        <p>Tarif</p>
                        <p class="card-text"><small class="text-muted"><button type="button" class="btn btn-outline-color1">Contacter l'organisateur</button></small></p>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <img src="/assets/ressources/images/A2 EXPO Lego.jpg" class="card-img" alt="Affiche expo">
                </div>
            </div>
        </div>
        
    </div>
</div>
