<div class="container my-3">
  <div class="row justify-content-center">
    <h3>Mes informations personnelles</h3>
  </div>
</div>
<div class="container ">

  <div class="card text-white bg-color4 mb-3 mx-auto" style="max-width: 900px;">
    <div class=" card-header">
      <div class="col-md-3">
        Votre identité
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3  ">
      </div>
      <div class="col-md-3 col-3">
        Nom :
      </div>
      <div class="col-md-4 text-capitalize col-5">
        {{user.firstname}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#firstname{{userId}}">Modifier</a>
      </div>
    </div>
    <div class="row my-2 ">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-3">
        Prénom :
      </div>
      <div class="col-md-4 text-capitalize col-5">
        {{user.lastname}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#lastname{{userId}}">Modifier</a>
      </div>
    </div>
    <div class=" card-header">
      <div class="col-md-3">
        Vos coordonnées
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-3">
        Email:
      </div>
      <div class="col-md-4 col-5">
        {{user.email}}
      </div>
      <div class="col-md-2 col-3 ">
        <a type="button" data-toggle="modal" data-target="#email{{userId}}">Modifier</a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-3">
        Département :
      </div>
      <div class="col-md-4 col-5">
        ({{user.departement.code}}) - {{user.departement.name}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#departement{{userId}}">Modifier</a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-3">
        Pays :
      </div>
      <div class="col-md-4 col-5">
        {{user.pays}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#pays{{userId}}">Modifier</a>
      </div>
    </div>
    <div class=" card-header">
      <div class="col-md-3">
        Votre status
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-3">
        Email vérifié :
      </div>
      <div class="col-md-4 col-5">
        {{#if user.isVerified}} Oui {{else}} Non {{/if}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#isVerified{{userId}}">Vérifier</a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-3">
        Banni :
      </div>
      <div class="col-md-4 col-5">
        {{#if user.isBan}} Oui {{else}} Non {{/if}}
      </div>
      <div class="col-md-2 col-3">
        <a href="/contact" style="color: white; text-decoration: none">Nous contacter</a>
      </div>
    </div>
    <div class=" card-header">
      <div class="col-md-3">
        Newsletter
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-5">
        Vous êtes exposant :
      </div>
      <div class="col-md-4 col-3">
        {{#if user.exposant}} Oui {{else}} Non {{/if}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#exposant{{userId}}">Modifier</a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-5">
        Vous êtes organisateur :
      </div>
      <div class="col-md-4 col-3">
        {{#if user.organisateur}} Oui {{else}} Non {{/if}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#organisateur{{userId}}">Modifier</a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-3 col-5">
        Vous êtes visiteur :
      </div>
      <div class="col-md-4 col-3">
        {{#if user.visiteur}} Oui {{else}} Non {{/if}}
      </div>
      <div class="col-md-2 col-3">
        <a type="button" data-toggle="modal" data-target="#visiteur{{userId}}">Modifier</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <button class="btn btn-outline-color2 my-2" data-toggle="modal" type="subit"
        data-target="#modalConfirmSuppAccount{{userId}}">Supprimer mon compte</button>
    </div>
  </div>






  {{!-- modal  modif firstname--}}
  <div class="modal fade" id="firstname{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" name="firstname" placeholder="Nom" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif lastname--}}
  <div class="modal fade" id="lastname{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="false">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" name="lastname" placeholder="Prénom" required> </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif email--}}
  <div class="modal fade" id="email{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
          <div class="modal-body">
            <p>Pour changer votre adresse Email, merci de confirmer votre mot de passe</p>
            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif departement--}}
  <div class="modal fade" id="departement{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="custom-select" id="inputGroupSelect01" name="departement" required>
              <option selected hidden>Choisir...</option>
              {{#each dbdepartement}}
              <option value="{{this.id}}">({{this.code}}) - {{this.name}}</option>
              {{/each}}
            </select> </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif pays--}}
  <div class="modal fade" id="pays{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="custom-select" id="inputGroupSelect02" name="pays" required>
              <option selected hidden>Choisir...</option>
              <option value="France">France</option>
              <option value="Belgique">Belgique</option>
              <option value="Espagne">Espagne</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif isVerified--}}
 <div class="modal fade" id="isVerified{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="false">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Un email vient de vous être envoyer, verifiez votre boite mail.</p>
            <input type="text" class="form-control" name="verifying" value="{{ email }}" required hidden> </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-color1" >Fermer</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif exposant--}}
  <div class="modal fade" id="exposant{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="custom-select" name="exposant" required>
              <option selected hidden>Choisir...</option>
              <option value="true">Oui</option>
              <option value="false">Non</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif organisateur--}}
  <div class="modal fade" id="organisateur{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="custom-select" name="organisateur" required>
              <option selected hidden>Choisir...</option>
              <option value="true">Oui</option>
              <option value="false">Non</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{!-- modal  modif visiteur--}}
  <div class="modal fade" id="visiteur{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=PUT" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="custom-select" name="visiteur" required>
              <option selected hidden>Choisir...</option>
              <option value="true">Oui</option>
              <option value="false">Non</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Sauvergarder</button>
          </div>
        </div>
      </div>
    </form>
  </div>

    {{!-- modal  suppression de compte --}}
  <div class="modal fade" id="modalConfirmSuppAccount{{userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form action="/myAccount/{{ userId }}/?_method=delete" method="POST">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Vous nous quittez déjà ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{userId}}</p>
            <p>Vous souhaitez supprimer votre compte. Votre compte va donc être inaccessible et vos données supprimé definitivement</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-color1" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-color2">Supprimer</button>
          </div>
        </div>
      </div>
    </form>
  </div>