<div class="column ">
                <h1 class=" panel has-text-centered">Read</h1>
                <h1 class=" panel has-text-centered">Liste des utilisateurs</h1>
                {{#each dbuser}}
                <div class="columns panel">
                    <div class=" column ">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="{{ this.image }}" alt="image de profil">
                        </figure>
                    </div>
                    <div class="column is-three-quarters is-size-7">
                        <p>nom : {{ this.name }}</p>
                        <p>mail : {{ this.email }}</p>
                        <p>admin : {{this.isAdmin}}</p>
                        <p>verifié : {{this.isVerified}}</p>
                        <p>inscription : {{ moment this.createDate format="DD/MM/YY" }}</p>
                    </div>
                </div>
                {{/each}}
                    <div class="control">
                        <a href="/logout"><button type="submit" class="button is-link">Se deconnecter</button></a>
                    </div>
                </form>
            </div>